/* voeg voor de font-face ook andere bestandtypen toe, zie coding tools.*/
@font-face {
  font-family: sport;
  src: url('./fonts/sport.ttf');
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: sport;
  color: rgb(0, 195, 255);
  text-shadow: 2px 2px 2px white;
  font-size: calc(15px + 8vmin);
}

p {
  color: white;
  font-size: calc(10px + 1.5vmin);
  text-align: center;
  margin-left: 1em;
  margin-right: 2em;
}

button {
  margin-top: 25vmin;
  cursor: pointer;
}