.centeredSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-around;
}

.centeredSection > button{
  opacity: 1;
  animation: none;
  margin: 0px;
}

span {
  color: rgb(94 217 255);
}

.niveau, .spiergroepenPara, .dumbellPara {
  animation-name: slideInExtra;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideInExtra {
  from {
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
    /* firefox hack voor smooth animation */
    -moz-transform: rotate(0.03deg);
  }
}

.centeredSection > p {
  margin-right: 1em;
  margin-left: 1em;
  color: white;
  font-weight: initial;
}

.niveau {
  border-left: 1px solid white;
  padding: 3px;
  border-bottom: 1px solid white;
}

.slidecontainer {
    width: calc(50px + 25vmin);
    position: relative;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance:initial;
    width: 100%;
    height: calc(5px + 0.5vmin);
    background: white;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: calc(15px + 1.1vmin);
    width: calc(10px + 0.5vmin);
    background: rgb(94 217 255);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px #000000;
  }
  
  .slider::-moz-range-thumb {
    -moz-appearance: none;
    height: calc(15px + 1.1vmin);
    width: calc(10px + 0.5vmin);
    background: rgb(94 217 255);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 1px 1px 1px #000000;
  }

  .forFirefox::before {
    background-image: url('./images/veryTiredSmall.png');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(-17px + -3vmin);
    top: calc(-20px + -3vmin);
    height: calc(20px + 3vmin);
    width: calc(20px + 3vmin);
    content: "";
  }

  .forFirefox::after {
    background-image: url('./images/highEnergySmall.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: calc(-17px + -3vmin);
    top: calc(-20px + -3vmin);
    height: calc(20px + 3vmin);
    width: calc(20px + 3vmin);
    content: "";
  }

  .energy {
    height: calc(50px + 10vmin);
    width: calc(50px + 10vmin);
  }

  datalist {
    color: white;
    display: inherit;
  }

  option {
    border: 1px solid white;
    display: initial;
  }