@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');

body {
  position: relative;
  margin: 0;
  font-family: 'Gemunu Libre', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(37,38,44);
}

.introButtonEen:hover, .introButtonTwee:hover {
  border: 3px solid #d8d5d5;
}