@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  position: relative;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(37,38,44);
}

.introButtonEen:hover, .introButtonTwee:hover {
  border: 3px solid #d8d5d5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* footer {
  border-top: calc(2px + 0.8vmin) dashed white;
  position: absolute;
  width: 100vw;
  bottom: 0px;
  opacity: 0.7;
  font-style: italic;
} */